/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/tronflow-hlahd Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// TODO: we may need to optimize these values...
params.cpus = 15
params.memory = "30g"

params.hlahd_folder = "/code/hlahd.1.2.0.1"
params.bowtie2_folder = "/code/bowtie/2.3.4.3"
params.bowtie2_module = "bioinf/bowtie2/2.3.4.3"
params.ld_library_path = "/usr/local/lib64/"
params.read_length = 50
params.reference = 'hg38'

profiles {
  conda {
    params.enable_conda = true
  }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  test {
    params.cpus = 1
    params.memory = "3g"
    timeline.enabled = false
    report.enabled = false
    trace.enabled = false
    dag.enabled = false
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

VERSION = '0.2.0'

manifest {
  name = 'TRON-Bioinformatics/tronflow-hlahd'
  author = 'Pablo Riesgo-Ferreiro'
  homePage = ''
  description = 'HLA-HD workflow'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = VERSION
}

params.help_message = """
nextflow run tron-bioinformatics/tronflow-hla-hd --help

Launching `main.nf` [intergalactic_shannon] - revision: e707c77d7b

Usage:
    nextflow run main.nf --input_files input_files --output output_folder

Input:
    * input_fastqs: the path to a tab-separated values file containing in each row the sample name, FASTQ 1 and FASTQ 2
    The input file does not have header!
    Example input file:
    name1       fastq1.fq.gz    fastq2.fq.gz
    name2       fastq1.fq.gz    fastq2.fq.gz
    * input_bams: the path to a tab-separated values file containing in each row the sample name and BAM
    The input file does not have header!
    Example input file:
    name1       name1.bam
    name2       name2.bam
    * output: output folder where results will be stored

Optional input:
    * reference: the reference genome to use (default: hg38, possible values: hg38 or hg19)
    * read_length: the read length (default: 50)
    * hlahd_folder: the HLA-HD folder (default: /code/hlahd.1.2.0.1)
    * bowtie2_folder: the bowtie2 folder (default: /code/bowtie/2.3.4.3)
    * bowtie2_module: the module to load with bowtie2
    * ld_library_path: the value to set in LD_LIBRARY_PATH
    * cpus: the number of CPUs per sample (default: 15)
    * memory: the amount of memory per sample (default: 30g)
    """
