/*
 * -------------------------------------------------
 *  TRON-Bioinformatics/tronflow-hlahd Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// TODO: we may need to optimize these values...
params.cpus = 15
params.memory = "30g"

params.hlahd_folder = "/code/hlahd.1.2.0.1"
params.bowtie2_folder = "/code/bowtie/2.3.4.3"
params.bowtie2_module = "bioinf/bowtie2/2.3.4.3"
params.read_length = 50

profiles {
  debug { process.beforeScript = 'echo $HOSTNAME' }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

VERSION = '0.1.0'

manifest {
  name = 'TRON-Bioinformatics/tronflow-hlahd'
  author = 'Pablo Riesgo-Ferreiro'
  homePage = ''
  description = 'HLA-HD workflow'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = VERSION
}

params.help_message = """
TronFlow HLA-HD v${VERSION}

Usage:
    nextflow run main.nf --input_files input_files --output output_folder

Input:
    * input_files: the path to a tab-separated values file containing in each row the sample name, FASTQ 1 and FASTQ 2
    The input file does not have header!
    Example input file:
    name1	fastq1.fq.gz	fastq2.fq.gz
    name2	fastq1.fq.gz	fastq2.fq.gz
    * output: output folder where results will be stored

Optional input:
    * read_length: the read length (default: 50)
    * hlahd_folder: the HLA-HD folder (default: /code/hlahd.1.2.0.1)
    * bowtie2_folder: the bowtie2 folder (default: /code/bowtie/2.3.4.3)
    * cpus: the number of CPUs per sample (default: 15)
    * memory: the amount of memory per sample (default: 30g)
    """
